/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-image {
  width: 360px;
  height: 200px;
}
.feedback-form {
  display: flex;
  flex-direction: column;
  max-width: 408px;
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px;
}
textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  padding: 8px;
}

.feedback-form button {
  margin-top: 8px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
}
